{% extends "@App/structure.html.twig" %}

{% block title %}
    {{ news.title }}
{% endblock %}

{% block content %}

    {% if news.gallery %}


        {% for images in news.gallery.galleryHasMedias %}
            <div><img src="{% path images.media, 'big' %}" class="img-responsive"/></div>
        {% endfor %}


        <!-- /.row -->

        <div class="row hidden-xs">
            <div class="col-sm-9 article-bigimg">
                <img src="{% path news.gallery.galleryHasMedias[0].media, 'big' %}"
                     data-small="{% path news.gallery.galleryHasMedias[0].media, 'small' %}" id="bigimg"/>
            </div>

            <div class="col-sm-3 article-smallimg">
                {% for images in news.gallery.galleryHasMedias|slice(1, 3) %}
                    <a href="{% path images.media, 'big' %}"><img src="{% path images.media, 'small' %}"/></a>
                {% endfor %}
            </div>
        </div><!-- /.row -->
    {% endif %}

    <!-- new row -->
    <div class="row">
        <div class="col-xs-12">
            <h1 class="titrearticle">{{ news.title }}</h1>
            {{ news.header }}
            {{ news.excerpt }}

            {% if news.youtubeId %}
                    {{ news.youtubeId }}
            {% endif %}

            <img src="{% path news.image, 'big' %}" class="img-responsive"/>

            <h3>{{ frenchDate(news.date) }} <span>{{ frenchTime(news.date) }}</span></h3>

            <div class="clearfix"></div>

            <div class="contenu">
                {{ news.content|raw }}
            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.row -->


    <h6>A lire également</h6>

    {{ sonata_block_render({ 'type': 'lpi.news.recent_articles' }, {'number':2,'template':'LpiNewsBundle:News:alire.html.twig','articleIdContext':news.id}) }}


{% endblock %}

